.vscode/**
.vscode-test/**
src/**
webviews/**
out/**
test/**
**/*.ts
**/*.tsx
**/*.map
.gitignore
.eslintrc*
eslint.config.*
tsconfig*.json
webpack.config.js
phabricator-client/test/**
phabricator-client/dist-types/**
phabricator-client/jsconfig.json
**/.DS_Store
